body {
height: 100vh;
width: 100%;
margin: 0;
padding: 0;
overflow: hidden;
}

body {
    background: linear-gradient(220deg, #25642e, #213c3a, #266b64, #336021, #213c3a, #336021, #266b64, #213c3a, #336021, #213c3a, #266b64, #25642e);    background-size: 2400% 2400%;
    
    -webkit-animation: AnimationName 80s ease infinite;
    -moz-animation: AnimationName 80s ease infinite;
    animation: AnimationName 80s ease infinite;
}
    
@-webkit-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes AnimationName { 
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

#disclaimer {
    padding-left: 2%;
}

/* CSS for all Luna Images */
.lunaImage {
    height:34vh;
    width:12vw;
    border: 1px solid black;
    box-shadow: 5px 5px 20px black;
}

 /* Setting Image Placement */
.zero {
    position: absolute;
    left: 45.1vw;
    top: 30vh;
}

.one {
    position: absolute;
    left: 15vw;
    top: 3vh;
}

.two {
    position: absolute;
    left: 65vw;
    top: 65vh;
}

.three {
    position: absolute;
    left: 13vw;
    top: 63vh;
}

.four {
    position: absolute;
    right: 11vw;
    bottom: 60vh;
}

.five {
    position: absolute;
    left: 9.5vw;
    top: 33vh;
}

.six {
    position: absolute;
    right: -0.5vw;
    top: 39vh;
}

.seven {
    position: absolute;
    left: 35.3vw;
    top: 10vh;
}

.eight {
    position: absolute;
    left: 53vw;
    bottom: 5vh;
}

.nine {
    position: absolute;
    left: 32.5vw;
    bottom: 16vh;
}

.ten {
    position: absolute;
    left: 55vw;
    top: 19vh;
}

.eleven {
    position: absolute;
    right: 23.5vw;
    bottom: 34vh;
}

.twelve {
    position: absolute;
    left: 23vw;
    bottom: 36vh;
}

.thirteen {
    position: absolute;
    right: 23vw;
    bottom: 72vh;
}

.fourteen {
    position: absolute;
    top: 68vh;
    left: -0.5vw;
}

.fifteen {
    position: absolute;
    right: 1vw;
    bottom: 65vh;
}

.sixteen {
    position: absolute;
    bottom: 68vh;
    left: 1vw;
}

.seventeen {
    position: absolute;
    left: 45vw;
    bottom: 73vh;
}

.eighteen {
    position: absolute;
    right: -2vw;
    bottom: -10vh;
}

.nineteen {
    position: absolute;
    right: 45vw;
    bottom: -4vh;
}

.twenty {
    position: absolute;
    left: 25vw;
    bottom: 71.5vh;
}

.twentyOne {
    position: absolute;
    right: 10vw;
    bottom: 25vh;
}

.twentyTwo {
    position: absolute;
    left: 25vw;
    bottom: -5vh;
}

.twentyThree {
    position: absolute;
    bottom: -10vh;
    right: 11vw;
}

.twentyFour {
    position: absolute;
    bottom: 35vh;
    right: 90vw;
}

/* Modal CSS */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#laguna-modal {
    font-family: 'Lobster', cursive;
    color: rgb(25, 65, 25);
}