body {
height: 1200px;
width: 1500px;
overflow: hidden;
}

body {
    background: linear-gradient(220deg, #25642e, #070c08, #035f48, #1e5508);
    background-size: 800% 800%;
    -webkit-animation: gradient 11s ease infinite;
    -moz-animation: gradient 11s ease infinite;
    animation: gradient 11s ease infinite;
}

@-webkit-keyframes gradient {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

@-moz-keyframes gradient {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

@keyframes gradient { 
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

#disclaimer {
    padding-left: 2%;
}

/* CSS for all Luna Images */
.lunaImage {
    height:250px;
    width:200px;
    border: 1px solid black;
    box-shadow: 5px 5px 20px black;
}

 /* Setting Image Placement */
.zero {
    position: absolute;
    left: 43.7%;
    top: 30%;
}

.one {
    position: absolute;
    left: 15%;
    top: 3%;
}

.two {
    position: absolute;
    left: 1000px;
    top: 500px;
}

.three {
    position: absolute;
    left: 200px;
    top: 450px;
}

.four {
    position: absolute;
    right: 150px;
    bottom: 400px;
}

.five {
    position: absolute;
    left: 125px;
    top: 225px;
}

.six {
    position: absolute;
    right: -5px;
    top: 275px;
}

.seven {
    position: absolute;
    left: 550px;
    top: 75px;
}

.eight {
    position: absolute;
    left: 800px;
    bottom: 50px;
}

.nine {
    position: absolute;
    left: 500px;
    bottom: 125px;
}

.ten {
    position: absolute;
    left: 850px;
    top: 150px;
}

.eleven {
    position: absolute;
    right: 300px;
    bottom: 250px;
}

.twelve {
    position: absolute;
    left: 350px;
    bottom: 250px;
}

.thirteen {
    position: absolute;
    right: 350px;
    bottom: 525px;
}

.fourteen {
    position: absolute;
    top: 500px;
}

.fifteen {
    position: absolute;
    right: 10px;
    bottom: 475px;
}

.sixteen {
    position: absolute;
    bottom: 500px;
    left: 15px;
}

.seventeen {
    position: absolute;
    left: 725px;
    bottom: 525px;
}

.eighteen {
    position: absolute;
    right: -25px;
    bottom: -25px;
}

.nineteen {
    position: absolute;
    right: 725px;
    bottom: -10px;
}

.twenty {
    position: absolute;
    left: 425px;
    bottom: 525px;
}

.twentyOne {
    position: absolute;
    right: 500px;
    bottom: 1000px;
}

.twentyTwo {
    position: absolute;
    left: 375px;
    bottom: -25px;
}

.twentyThree {
    position: absolute;
    bottom: 25px;
    right: 190px;
}

.twentyFour {
    position: absolute;
    bottom: 240px;
    right: 1400px;
}

/* Modal CSS */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#laguna-modal {
    font-family: 'Lobster', cursive;
    color: rgb(25, 65, 25);
}